<p id="notice"><%= notice %></p>

<h1>Listing Maps</h1>

<table>
  <thead>
    <tr>
      <th>Lat</th>
      <th>Lng</th>
      <th>Distance</th>
      <th>Bearing</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @maps.each do |map| %>
      <tr>
        <td><%= map.lat %></td>
        <td><%= map.lng %></td>
        <td><%= link_to 'Show', map %></td>
        <td><%= link_to 'Edit', edit_map_path(map) %></td>
        <td><%= link_to 'Destroy', map, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Map', new_map_path %>
<div id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 12
        });
      }
      $.ajax({
        url: 'https://murmuring-hollows-84750.herokuapp.com/maps',
        dataType: 'json'
      }).then( res=> {
        console.log(res)
      })
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAac7aOUh_qzuVD0oSRDnSjZ1XynZ2YN0M&callback=initMap"
    async defer></script>
